{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}
Login
{% endblock %}

{% block content %}
    <form enctype="multipart/form-data" method="POST">
        <div class="card bg-light my-4 p-4 text-center">
            {% csrf_token %}
            {{ form|crispy }}
            <button type="submit" class="btn btn-success">Login</button>
            <a href="{% url 'password_reset'%}">Click here if you forgot password.</a>
            <span>{{ error }}</span>
        </div>
    </form>

{% endblock %}