{% extends 'books/base_v1.html' %}

{% block title %}
Подробно
{% endblock %}
{% block content %}
<div class="card mb-4 shadow-sm">
    <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
    <div class="card-body">
        <p class="card-text">{{book_detail.title}}</p>
        <p class="card-text">{{book_detail.author_name}}</p>
        <p class="card-text">{{book_detail.description}}</p>
        <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
                {% if perms.library.change_projectemail %}
                <form action="{% url 'book-update' book_detail.id %}" target="_blank">
                    <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                </form>
                {% endif %}
                {% if perms.library.delete_invoicetype %}
                <form action="{% url 'book-delete' book_detail.id %}" target="_blank">
                    <button type="button" class="btn btn-sm btn-outline-secondary">Delete</button>
                </form>
                {% endif %}
            </div>
        </div>
    </div>
</div>







<!--<div class="card mb-4 shadow-sm">-->
<!--    <h1 class="display-3"> {{book_detail.title}}</h1>-->
<!--    <h2 style="color:gray; font-size:15px"> {{book_detail.author_name}}</h2>-->
<!--    <hr class="my-4">-->
<!--    <p class="lead"> {{book_detail.description}}</p>-->
<!--    <hr class="my-4">-->
<!--    {% if perms.library.change_projectemail %}-->
<!--        <a class="button" href="{% url 'book-update' book_detail.id %}">Изменить</a>-->
<!--        {% if perms.library.delete_invoicetype %}-->
<!--            <a href="{% url 'book-delete' book_detail.id %}">Удалить</a>-->
<!--        {% endif %}-->
<!--    {% endif %}-->
<!--</div>-->
{% endblock %}
