{% extends 'books/base_v1.html' %}
{% load crispy_forms_tags %}
{% block title %}
Подробно
{% endblock %}
{% block content %}
<div class="card mb-4 shadow-sm">

    <div class="card-body">
        <img style="border-radius: 8px;display:block;margin-left: auto;margin-right: auto;width: 50%;" src="{{ book_detail.title_img }}">
        <p style="margin:auto;width: 50%;" class="card-text">{{ book_detail.title }}</p>
        <p style="margin:auto;width: 50%;" class="card-text">{{ book_detail.author_name }}</p>
        <br>
        <p class="card-text">{{ book_detail.description }}</p>
        <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
                {% if perms.library.change_projectemail %}
                <a type="button" class="btn btn-sm btn-outline-secondary" href="{% url 'book-update' book_detail.id %}">Edit</a>
                {% endif %}
                {% if perms.library.delete_invoicetype %}
                <a type="button" class="btn btn-sm btn-outline-secondary" href="{% url 'book-delete' book_detail.id %}">Delete</a>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="bs-component"></div>
        <form>
            <fieldset>
                {% load static %}
                {% csrf_token %}
                <script src="{% static 'app.js' %}"></script>
                <script>renderComments("{{ book_detail.id }}")</script>
                <div class="form-group">
                    <label for="comment">Send comment</label>
                    <textarea class="form-control" type="text" id="comment" rows="5"></textarea>
                    <input type="hidden" id="book_id" value="{{ book_detail.id }}">
                    <input type="hidden" id="user_id" value="{{ user.id }}">
                    <input type="hidden" id="post_url" value="/api/book_comments/">
                </div>
                <div class="form-group">
                    <input class="btn btn-secondary" type="button" value="Start" onclick="javaScript:myComment()">
                </div>
                </div>
            </fieldset>
            <ul  class="comments"></ul>
        </form>
    </div>
</div>
{% endblock %}
