{% extends 'books/base_v1.html' %}
{% block content %}
{% if book_list %}
<div class="row">
    {% for el in book_list %}
        <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
                <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
                <div class="card-body">
                    <p class="card-text">{{ el.title }}</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <button type="button" class="btn btn-sm btn-outline-secondary" onclick="window.location.href='{{ el.get_absolute_url }}'">View</button>
                            {% if perms.library.change_projectemail %}
                            <button type="button" class="btn btn-sm btn-outline-secondary" onclick="window.location.href='{% url 'book-update' el.id %}'">Edit</button>
                            {% endif %}
                            {% if perms.library.delete_invoicetype %}
                            <button type="button" class="btn btn-sm btn-outline-secondary" onclick="window.location.href='{% url 'book-delete' el.id %}'">Delete</button>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
</div>
{% else %}
<p>Список пуст!</p>
{% endif %}
{% endblock %}
