{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}
Добавление книги
{% endblock %}

{% block content %}
    <form enctype="multipart/form-data" method="POST">
        <div class="card bg-light my-4 p-4 text-center">
            {% csrf_token %}
            {{ form|crispy }}
            <button type="submit" class="btn btn-success">Добавить</button>
            <span>{{ error }}</span>
        </div>
    </form>
    <div class="card text-white bg-primary mb-3" style="max-width: 20rem;">
        <div class="card-header">Пример .DOCX докумена</div>
        <div class="card-body">
            <h4 class="card-title">Заголовок</h4>
            <h5 class="card-title">Автор</h5>
            <p class="card-text">URL обложки</p>
            <p class="card-text">О книге.</p>

        </div>
    </div>
{% endblock %}
